body {
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    background-color:rgb(212, 239, 255) ;
}

#page1 {
    visibility: visible;
}

#page2 {
    visibility: hidden;
    position: fixed;
    top: 75px;
    /*Add media query: if screen is bigger than x , top = 130px*/
    margin: auto;
    width: 100%;
}

h1 {
    font-size: 8vw;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 900;
    background-color: rgb(130, 193, 232);
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}

h4 {  
    font-size: 6vw;
    text-align: center;
    color: rgb(9, 68, 105);
    margin-top: 0px;  
    margin-bottom: 0px; 
}

p {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
}

/* Styling for Level Buttons*/

.level-buttons {
    padding: 5px;
    margin-bottom: 15px;
    font-size: large;
    width: 150px;
    height: 60px;
    border: 0cap;
    border-radius: 5px;
    font-weight: 900;
    background-color: rgb(130, 193, 232);
}

#level-buttons-area {
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

h5 {
    text-align: center;
    font-size: larger;
    padding-bottom: 0;
}

#insructions {
    background-color: white;
    font-size: 20px;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    color:  rgb(9, 68, 105);
    margin-bottom: 90px;
}

#hangman-image {
    width: auto;
    height: 40vh;
    display: block;
    margin: 0 auto;
}

#hangman-box {
    margin-top: 5vh;
    margin-bottom: 10px;

}

#used-letters {
    border-color: rgb(9, 68, 105);
    border-width: 2px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-top: 10px;
    margin: auto;
    height: 5vh;
    width: 50vw;

}

#hangman-word {
    width: fit-content;
    margin: auto;
    background-color: aliceblue;
    height: fit-content;
}

.letter-box {
    border-bottom: 3px solid black;
    display: inline-block;
    padding: 8px;
    font-size:15px;
    width: 5px;
    margin: 5px;
}

#input-letter-div{
    padding: 5px;
    margin: auto;
    width: fit-content;
}

#input-letter{
    width: 25px;
    
}

#current-word{
    visibility: hidden;
}

#letter-underline{
    width: 5px;
    border-bottom: 1px;
}

.page2-buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 0;
    right: 0;

}
  
.game-page-buttons {
    margin: 0 5px;
    background-color:rgb(130, 193, 232);
    border: 0cap;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(130, 193, 232);
}

@media only screen and (min-width: 600px) {
#page2 {
    top: 130px;
}
  }